@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,900;1,900&family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,900;1,900&family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,900;1,900&family=Roboto&display=swap");
.portfolio {
  padding: 5rem 0;
}

.portfolio .portfolio-title {
  text-align: center;
  margin-bottom: 1.5em;
  font-size: 1.8rem;
  font-weight: 400;
  letter-spacing: 3px;
  font-family: "Playfair Display", serif;
}

.portfolio figure {
  position: relative;
  margin-bottom: 5rem;
}

.portfolio figure img {
  opacity: 0.5;
}

.portfolio figure strong {
  display: none;
}

.portfolio figure figcaption {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.portfolio figure figcaption h3 {
  font-size: 1.3rem;
  font-family: "Playfair Display", serif;
}

.portfolio figure figcaption p {
  font-size: 0.8rem;
  margin: 0.9rem 0;
}

.portfolio figure figcaption input {
  cursor: pointer;
  padding: 0.5rem 1.5rem;
  border-radius: 2px;
  border: none;
  font-size: 1rem;
  font-weight: 500;
  background: #fff;
  color: #0a1931;
}

.portfolio figure figcaption input + input {
  margin-left: 1rem;
}

.portfolio .view-more-projects {
  text-align: center;
}

.portfolio .view-more-projects input {
  cursor: pointer;
  padding: 1.5rem 1.7rem;
  margin-top: 3rem;
  border-radius: 2px;
  border: none;
  font-size: 1rem;
  font-weight: 600;
}

@media screen and (min-width: 800px) {
  .portfolio .project-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2rem;
    width: 100%;
  }
  .portfolio figure {
    width: 100%;
    margin: 2rem auto;
  }
  .portfolio figure figcaption {
    padding: 0 3rem;
    transform: translateY(5%);
    opacity: 0;
  }
  .portfolio figure figcaption h3 {
    font-size: 2rem;
  }
  .portfolio figure figcaption p {
    font-size: 1rem;
    margin: 1rem 0 1.5rem;
  }
  .portfolio figure strong {
    display: block;
  }
  .portfolio figure::before {
    content: "";
    position: absolute;
    top: 0;
    height: 100%;
    width: 0;
    background: linear-gradient(270deg, #fff, #0a1931);
    transform: translateX(1%);
    transition: all 0.5s ease;
    opacity: 0;
  }
  .portfolio figure:hover figcaption {
    transform: translateX(0);
    opacity: 1;
    transition: 0.5s ease-out;
  }
  .portfolio figure:hover::before {
    transform: translateY(0);
    transition: all 0.3s ease-in;
    opacity: 0.7;
    width: 100%;
  }
  .portfolio figure:hover strong {
    opacity: 1;
    transition: 0.5s ease-out;
    transform: translateY(0);
  }
  .portfolio strong {
    position: absolute;
    right: 0;
    top: -12%;
    font-size: 5rem;
    opacity: 0;
    transform: translateY(30%);
  }
}

.lets-work-together {
  background: #fff;
  background-image: url("/images/christina-wocintechchat-com-OtHEYbQXLFU-unsplash.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 3rem 0;
  min-height: 70vh;
}

.lets-work-together-content {
  color: #0a1931;
}

.lets-work-together-content h3 {
  margin: 2rem 0;
  letter-spacing: 2px;
  font-size: 2rem;
  font-family: "Playfair Display", serif;
}

.lets-work-together-content input {
  display: block;
  padding: 1rem 2rem;
  cursor: pointer;
  background: #0a1931;
  color: #fff;
  border: none;
  font-weight: 600;
}

@media screen and (min-width: 800px) {
  .lets-work-together-content input {
    padding: 1.5rem 2rem;
    font-size: 1.2rem;
  }
  .lets-work-together-content h3 {
    letter-spacing: 5px;
    font-size: 2.5rem;
  }
}

/* *****************************************
******************************************
************ FOOTER STYLES******************** */
footer {
  background: #0a1931;
  min-height: 40vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

footer a {
  color: #fff;
}

footer .footer-content {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.footer-nav {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.footer-nav .footer-logo {
  margin-top: 2rem;
  font-family: "Playfair Display", serif;
  font-size: 1.7rem;
}

.footer-nav .footer-logo a {
  color: #fff;
  font-size: 1.8rem;
}

.footer-nav ul {
  margin: 2rem 0;
  list-style: none;
}

.footer-nav ul li + li {
  margin-top: 1rem;
}

.footer-nav ul a {
  font-size: 0.9rem;
}

.footer-nav ul a:hover {
  border-bottom: 1px solid #fff;
}

.footer-social-media {
  cursor: pointer;
  font-size: 0.8rem;
  text-transform: uppercase;
  margin-bottom: 2rem;
}

.footer-social-media a + a {
  margin-left: 1rem;
}

.footer-social-media a {
  font-size: 1rem;
}

.footer-social-media a:hover {
  border-bottom: 1px solid #fff;
}

.copy-write {
  margin-top: 3rem;
  text-align: center;
}

@media screen and (min-width: 800px) {
  footer .footer-content {
    width: 100%;
  }
  footer .footer-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  footer .footer-nav {
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  footer .footer-nav .footer-logo {
    margin-top: 0;
  }
  footer .footer-nav ul {
    display: flex;
    list-style: none;
    margin-left: 2rem;
  }
  footer .footer-nav ul li + li {
    margin-top: 0;
    margin-left: 1rem;
  }
  footer .footer-nav ul a {
    font-size: 1rem;
  }
  footer .footer-social-media {
    margin-bottom: 0;
  }
}

.header-container {
  position: relative;
}

.header-container nav {
  position: fixed;
  right: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  background: #0a1931;
  z-index: 1000;
  transform: translateY(-100%);
}

.header-container nav ul {
  list-style: none;
}

.header-container nav ul li + li {
  margin-top: 2rem;
}

.header-container nav ul li {
  font-size: 1.8rem;
}

.header-container nav ul li a {
  color: #fff;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-container nav ul li a:hover {
  background: #fff;
  color: #0a1931;
}

.header-container .show-nav {
  transform: translateY(0);
  transition: 0.5s ease-in;
}

@media screen and (min-width: 800px) {
  .header-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .header-container nav {
    transform: translateY(0);
    position: static;
    height: 100%;
    display: block;
  }
  .header-container nav ul {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    margin-top: 0;
  }
  .header-container nav ul li + li {
    margin-top: 0;
  }
  .header-container nav ul li {
    padding: 0.5rem;
    border-radius: 4px;
    width: 100%;
    font-size: 1rem;
  }
  .header-container nav ul li a {
    color: #fff;
    padding: 0.5rem;
  }
  .header-container nav ul li:hover a {
    color: #0a1931;
    background: #fff;
  }
  .header-container nav ul .contact-link::before {
    content: "";
    position: absolute;
    top: -17px;
    margin-left: 36.5px;
    height: 20px;
    width: 7px;
    background: #fff;
    display: none;
  }
}

.contact-description {
  position: fixed;
  display: flex;
  flex-direction: column;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
}

.contact-description h2 {
  letter-spacing: 2px;
  margin: 1.5rem 0;
  font-family: "Playfair Display", serif;
  font-weight: bold;
  font-size: 1.7rem;
}

.contact-description .contact-details {
  background: #fff;
  transform: translate3d(-100%, 0, 0);
  height: 100%;
  width: 100%;
  order: 1;
  color: #0a1931;
  transition: 0.5s ease-out;
}

.contact-description .contact-details-content {
  width: 92%;
  margin: auto;
}

.contact-description .contact-details p {
  margin: 1rem 0;
}

.contact-description .contact-details hr {
  border: 1px solid #0a1931;
  margin: 2rem 0;
}

.contact-description .contact-details .contact-icon-details {
  background: #0a1931;
  color: #fff;
  padding: 2rem;
  margin-bottom: 1rem;
}

.contact-description .contact-details .contact-icon-details .icon {
  font-size: 1.5rem;
}

.contact-description .contact-details .contact-icon-details p {
  font-size: 1.1rem;
  margin: 0.8rem 0;
}

.contact-description .contact-details .contact-icon-details .location,
.contact-description .contact-details .contact-icon-details .telephone {
  margin-bottom: 2rem;
}

.contact-description .contact-details .contact-icon-details .contact-social-media {
  margin-top: 2rem;
}

.contact-description .contact-details .contact-icon-details .contact-social-media .social + .social {
  margin-left: 2rem;
}

.contact-description .contact-details .contact-icon-details .contact-social-media .social {
  cursor: pointer;
}

.contact-description .contact-form {
  background: #0a1931;
  transform: translate3d(100%, 0, 0);
  height: 100%;
  width: 100%;
  order: 0;
  padding: 1rem;
  transition: 1s ease-in-out;
}

.contact-description .contact-form-content {
  width: 92%;
  margin: auto;
}

.contact-description .contact-form label {
  display: inline-block;
  margin-bottom: 0.7rem;
}

.contact-description .contact-form input {
  width: 100%;
  outline: none;
  border: 1px solid #fff;
  background: transparent;
  color: #fff;
  padding: 0.5rem 0 1rem 0.5rem;
  margin-bottom: 2rem;
}

.contact-description .contact-form textarea {
  width: 100%;
  background: transparent;
  outline: none;
  border: 1px solid #fff;
  color: #fff;
  padding: 0.5rem 0 1rem 0.5rem;
}

.contact-description .contact-form button {
  padding: 0.8rem 3rem;
  font-size: 1rem;
  font-weight: bold;
  color: #0a1931;
  margin: 1rem 0;
  cursor: pointer;
}

.contact-description .close-icon {
  text-align: right;
  position: absolute;
  right: 20px;
}

.contact-description .close-icon img {
  width: 25px;
  cursor: pointer;
}

.contact-description.show-contact {
  z-index: 2000;
  overflow-y: scroll;
}

.contact-description.show-contact .contact-form,
.contact-description.show-contact .contact-details {
  transform: translate3d(0, 0, 0);
  transition: 0.5s ease-in;
}

@media screen and (min-width: 800px) {
  .contact-description {
    position: fixed;
    top: 52%;
    left: 50%;
    height: 100%;
    width: 90%;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    transform: translate(-50%, -50%);
    z-index: -1;
  }
  .contact-description .contact-details,
  .contact-description .contact-form {
    height: 95%;
    width: 48%;
  }
  .contact-description .contact-details-content,
  .contact-description .contact-form-content {
    width: 80%;
    margin: auto;
  }
  .contact-description .contact-form {
    transform: translateY(120%);
    transition: all 0.3s ease-out;
    order: 1;
  }
  .contact-description .contact-details {
    transform: translateY(-120%);
    transition: all 0.3s ease-out;
    order: 0;
  }
  .contact-description .contact-details p {
    font-size: 1.2rem;
  }
  .contact-description.show-contact {
    z-index: 2000;
    overflow: hidden;
  }
  .contact-description.show-contact .contact-form,
  .contact-description.show-contact .contact-details {
    transform: translateY(0);
    transition: 0.5s all ease-out;
  }
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
}

body {
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
  color: #ececec;
}

main {
  background: #0a1931;
}

/* **************************
*******GENERAL STYLES */
a {
  text-decoration: none;
  cursor: pointer;
}

img {
  max-width: 100%;
}

.container {
  max-width: 980px;
  width: 93%;
  margin: 0 auto;
}

/* *****************************
********************************
**********HEADER STYLES********* */
header::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  background-image: url("/images/fotis-fotopoulos-xQ2qynQ92xs-unsplash.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #0a1931;
  z-index: -1;
  opacity: 1;
}

header {
  color: black;
  min-height: 100vh;
}

header .header-nav {
  background: #0a1931;
  padding: 0.5rem;
}

.header-social-media .social {
  color: #fff;
}

.logo {
  font-family: "Playfair Display", serif;
  height: 100%;
  width: 100%;
}

.logo .logo-link {
  color: #fff;
  font-weight: 400;
  font-size: 2rem;
  padding: 0.3rem;
  border-radius: 3px;
}

/* ********** ************
******* HEADER CONTENT ***** */
.header-description {
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  color: #2c2b2b;
}

.header-description p {
  font-size: 1.2rem;
  margin-top: 1rem;
}

.header-description h4 {
  font-size: 3rem;
  font-weight: bold;
  color: white;
  font-family: "Playfair Display", serif;
  letter-spacing: 2px;
}

.header-description em {
  color: white;
  font-size: 1.2rem;
  font-family: "Roboto", sans-serif;
  letter-spacing: 2px;
}

.header-description .btn-container {
  position: relative;
}

.header-description .btn-container a {
  display: inline-block;
  color: #fff;
  background: #0a1931;
  margin: 1rem auto;
  padding: 0.9rem 2rem;
  border-radius: 3px;
}

.header-description .btn-container span {
  position: absolute;
  top: 12px;
  left: 110px;
}

.header-description .contact-input {
  margin-bottom: 1rem;
  padding: 1em 2.3em;
}

.header-description * {
  margin: 0.7rem 0;
}

.header-social-media .social {
  margin-right: 0.7rem;
  cursor: pointer;
  color: white;
}

/* ******************************************************
************ HAMBURGER MENU ***************** */
.hamburger-menu {
  position: absolute;
  top: 25%;
  right: 0;
  cursor: pointer;
  transition: 0.3s ease-out;
  z-index: 2000;
  display: flex;
}

.hamburger {
  transition: transform 0.3s ease-in;
  visibility: visible;
  transform: translateX(0);
}

.hamburger-close {
  transform: translateX(150%);
  transition: transform 0.3s ease-in;
  visibility: hidden;
}

.show {
  transition: 0.5s ease-in;
}

.show .hamburger {
  transform: translateX(150%);
  visibility: hidden;
}

.show .hamburger-close {
  transform: translateX(0);
  transition: transform 0.3s ease-in;
  visibility: visible;
  display: block;
}

/* *********************************************************
**********************************************************
*******************MEDIA QUERY **************************** */
@media screen and (max-width: 799px) {
  .header-description h4 {
    font-size: 2.2rem;
  }
}

@media screen and (min-width: 800px) {
  .header-description {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  .header-description input {
    padding: 1em 2em;
    margin: 1.5rem 1.5rem 1.5rem auto;
  }
  .header-description .header-social-media {
    display: flex;
    flex-direction: column;
  }
  .hamburger-menu {
    display: none;
  }
}
/*# sourceMappingURL=main.css.map */