@import url("https://fonts.googleapis.com/css2?family=Courier+Prime&family=Montserrat:wght@700;800;900&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
}

body {
  font-family: "Courier New", "Courier Prime", monospace;
  line-height: 1.5;
  color: #ececec;
}

span {
  color: #202060;
}

/* **************************
*******GENERAL STYLES */
nav {
  display: none;
}

a {
  text-decoration: none;
  cursor: pointer;
}

img {
  max-width: 100%;
}

main {
  background: #202040;
}

.linkedin:hover {
  color: blue;
}

.twitter:hover {
  color: #1384ca;
}

.instagram:hover {
  color: #e1306c;
}

.github:hover {
  color: #202040;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
}

/* *****************************
********************************
**********HEADER STYLES********* */
header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  background-image: url("/images/portfolio-img.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
  opacity: 0.3;
}

header::after {
  content: "";
  position: absolute;
  left: 0;
  transform: translate(-1px, -40px) rotate(-1deg);
  padding: 4rem;
  width: 100%;
  background: #202060;
}

header {
  padding: 1em 2em;
  color: black;
}

.logo {
  padding: 0.5em 1em;
  background: #202060;
  height: 45px;
}

.logo .logo-link {
  color: #ececec;
  font-weight: 600;
  font-size: 1.2rem;
}

.header-container {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.header-container .show-nav {
  display: block;
  position: absolute;
  right: 0;
  left: 0;
  top: -17px;
  background: #202060;
  width: 100%;
  height: 90vh;
  text-align: center;
}

.header-container .show-nav ul {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header-container .show-nav li {
  list-style: none;
}

.header-container .show-nav li a {
  display: block;
  margin: 1em auto;
  font-size: 1.7rem;
  color: #ececec;
  font-weight: 600;
}

.header-container .show-nav li a:hover {
  background-color: #ececec;
  padding: 0.3rem 3rem;
  color: #202060;
  border-radius: 4px;
  transition: 0.3s ease-in-out;
}

/* ********** ************
******* HEADER CONTENT ***** */
.header-description {
  margin: 5rem auto 5rem;
  color: #2c2b2b;
}

.header-description p {
  font-size: 1.2rem;
  margin-top: 1rem;
}

.header-description h3 {
  font-family: "Montserrat", sans-serif;
  margin-bottom: 0;
  font-size: 2rem;
}

.header-description h4 {
  font-size: 2rem;
  font-family: "Montserrat", sans-serif;
}

.header-description .btn-container a {
  display: inline-block;
  color: #ececec;
  background: #202060;
  margin: 1rem auto;
  padding: 0.9em 2em;
  border-radius: 3px;
}

.header-description .contact-input {
  margin-bottom: 1rem;
  padding: 1em 2.3em;
}

.header-description * {
  margin: 0.7rem 0;
}

.header-social-media i {
  margin-right: 0.7rem;
  cursor: pointer;
  color: #202040;
}

/* ******************************************************
************ HAMBURGER MENU ***************** */
.hamburger-menu {
  position: absolute;
  top: 0;
  right: 1.5em;
  cursor: pointer;
  transition: 0.5s ease-in-out;
}

.hamburger-large {
  height: 3px;
  width: 28px;
  background-color: #202060;
  margin-left: auto;
  margin-bottom: 0.2rem;
  border-radius: 5px;
}

.hamburger-medium {
  height: 3px;
  width: 28px;
  background-color: #202060;
  margin-left: auto;
  margin-bottom: 0.25rem;
  border-radius: 5px;
}

.hamburger-small {
  height: 3px;
  width: 28px;
  background-color: #202060;
  border-radius: 5px;
  margin-left: auto;
}

.show {
  transform: rotate(360deg);
}

.show .hamburger-large {
  transform: rotate(45deg) translate(12px, 2px);
  transition: 0.5s ease-in-out;
  background-color: #ececec;
}

.show .hamburger-medium {
  transform: rotate(-45deg) translate(1px, 7px);
  width: 28px;
  transition: 0.5s ease-in-out;
  background-color: #ececec;
}

.show .hamburger-small {
  display: none;
}

/* *****************************************
********************************************
***********ABOUT ME STYLES *****************/
.about {
  padding: 1em 1.5em;
  background: #ececec;
}

.about .about-content {
  box-shadow: 1px 9px 11px -7px #202040;
  padding: 2em;
}

.about .about-button-container {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
}

.about a {
  display: block;
  color: #ececec;
  background: #202060;
  margin: 1rem 0;
  padding: 1em 2em;
  border-radius: 3px;
  cursor: pointer;
}

.about h2 {
  padding: 6rem 0 1rem;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 1.5rem;
  color: #202040;
}

.about-image {
  text-align: center;
  padding-bottom: 2rem;
}

.about-description p + p {
  margin-top: 1rem;
}

.about-description p {
  width: 90%;
  margin: auto;
  color: #202040;
}

.about-description strong {
  color: #202060;
}

.about .skills {
  background: #202060;
  width: 100%;
  margin-top: 2rem;
  border-radius: 5px;
}

.about .skills .skills-content {
  text-align: center;
  padding-bottom: 3rem;
  color: #ececec;
}

.about .skills .skills-content .icon-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1rem;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.about .skills .skills-content h3 {
  color: #ececec;
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  padding: 2rem 0;
}

.about .skills .skills-content strong {
  color: #ececec;
  font-size: 1rem;
}

.about .skills .skills-content i {
  font-size: 1rem;
}

.about .skills .skills-content .html {
  color: #e34c26;
}

.about .skills .skills-content .css {
  color: #264de4;
}

.about .skills .skills-content .js {
  color: #f0db4f;
}

.about .skills .skills-content .react {
  color: #61dbfb;
}

.about .skills .skills-content .sass {
  color: #c69;
}

/* ********************************************
***********************************************
**************PORTFOLIO STYLES**************** */
.portfolio {
  padding: 1em 1.5em;
}

.project-container {
  padding: 0 1.5em;
  text-align: center;
}

.portfolio-title {
  text-align: center;
  margin-bottom: 1.5em;
  font-size: 1.5rem;
}

/* *****************************************************
********************************************************
********************CONTACT PAGE*************************/
.contact {
  color: #202040;
  padding: 2rem 0;
  background: #ececec;
}

.contact-container {
  width: 80%;
  margin: auto;
}

.contact-description {
  box-shadow: 3px 9px 11px -4px #202040;
  padding: 1rem;
}

.contact h2 {
  text-align: center;
  font-size: 1.5rem;
  font-family: "Montserrat", sans-serif;
}

.contact-details {
  margin: 1rem auto;
  padding: 1rem 0;
  background: #202060;
  color: #ececec;
  text-align: center;
}

.contact-details p {
  margin-bottom: 1rem;
}

.contact-details i {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.contact .write-us {
  margin-top: 5rem;
}

.contact .write-us label {
  text-align: left;
  display: block;
}

.contact .write-us input {
  border: none;
  border-bottom: 2px solid #202060;
  width: 100%;
  background: #ececec;
  margin: 0 0 2rem;
  outline: none;
  padding: 0.5rem 0.5rem;
}

.contact .write-us textarea {
  border: none;
  border-bottom: 2px solid #202060;
  background: #ececec;
  width: 100%;
  outline: none;
  margin-top: 1rem;
  min-height: 0.1rem;
}

.contact .write-us button {
  padding: 1.3em 3em;
  margin: 1.5rem 0;
  background: #202060;
  outline: none;
  border: none;
  color: #ececec;
  border-radius: 3px;
}

/* *****************************************
******************************************
************ FOOTER STYLES******************** */
footer {
  background: #202060;
  padding: 4em 1.5em 2em;
  text-align: center;
}

.social-media-icon {
  border-radius: 50%;
  padding: 0.2em;
  cursor: pointer;
}

.copy-write {
  margin-top: 2rem;
}

/* *********************************************************
**********************************************************
*******************MEDIA QUERY **************************** */
@media screen and (min-width: 700px) {
  .header-description input {
    padding: 1em 2em;
    margin: 1.5rem 1.5rem 1.5rem auto;
  }
  .project-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 0.5em;
    padding: 0;
  }
  .about .about-button-container {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
  }
  .about a {
    margin: 1rem 2rem 1rem 0;
    padding: 1em 2em;
    border-radius: 3px;
    cursor: pointer;
  }
}

@media screen and (min-width: 800px) {
  .about .about-content {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    column-gap: 2rem;
  }
  .about .about-button-container {
    display: flex;
    justify-content: flex-start;
  }
  .about-image {
    grid-column: span 2;
  }
  .about-image img {
    height: 90%;
  }
  .about .about-description {
    grid-column: span 3;
  }
  .about .about-description p {
    font-size: 0.85rem;
    width: 100%;
  }
  .about .skills {
    grid-column: span 5;
  }
  .about .skills .icon-container {
    grid-template-columns: repeat(3, 1fr);
  }
  .about .skills .skills-header h3 {
    font-size: 1.4rem;
  }
  .about .skills strong {
    font-size: 1.7rem;
  }
  .about .skills i {
    font-size: 2rem;
  }
  .hamburger-menu {
    display: none;
  }
  nav {
    display: block;
  }
  nav ul {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
  }
  nav ul li {
    transition: 0.3s ease-in-out;
  }
  nav ul li + li {
    margin-left: 3rem;
  }
  nav ul a {
    color: #202040;
    font-weight: 900;
    font-size: 1.2rem;
  }
  nav ul li:hover {
    border-bottom: 4px solid #202060;
  }
  nav ul .home-link::before {
    content: "";
    position: absolute;
    top: -17px;
    margin-left: 20px;
    height: 20px;
    width: 7px;
    background: #202060;
    display: none;
  }
  nav ul .about-link::before {
    content: "";
    position: absolute;
    top: -17px;
    margin-left: 25px;
    height: 20px;
    width: 7px;
    background: #202060;
    display: none;
  }
  nav ul .contact-link::before {
    content: "";
    position: absolute;
    top: -17px;
    margin-left: 36.5px;
    height: 20px;
    width: 7px;
    background: #202060;
    display: none;
  }
  nav ul .portfolio-link::before {
    content: "";
    position: absolute;
    top: -17px;
    margin-left: 39px;
    height: 20px;
    width: 7px;
    background: #202060;
    display: none;
  }
  nav ul .portfolio-link:hover::before,
  nav ul .about-link:hover::before,
  nav ul .home-link:hover::before,
  nav ul .contact-link:hover::before {
    display: block;
  }
  .contact-container {
    width: 100%;
  }
  .contact-description {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 4rem;
    justify-content: center;
    align-items: flex-start;
    margin: 4rem auto;
  }
  .contact-details {
    margin: 0 auto;
    padding: 3.2rem 0;
    width: 100%;
  }
  .contact .write-us {
    margin-top: 0;
    width: 100%;
  }
}

@media screen and (min-width: 1050px) {
  .about .about-description {
    grid-column: span 3;
  }
  .about .about-description p {
    font-size: 1rem;
    width: 100%;
  }
  .about h2 {
    position: relative;
  }
  .about h2::after {
    content: "";
    height: 5px;
    width: 60px;
    background: #202060;
    position: absolute;
    top: 90.5%;
    right: 50.5%;
  }
  .portfolio h2 {
    position: relative;
  }
  .portfolio h2::after {
    content: "";
    height: 5px;
    width: 93px;
    background: #202060;
    position: absolute;
    top: 94%;
    right: 37%;
  }
  .contact-title h2 {
    position: relative;
  }
  .contact-title h2::after {
    content: "";
    height: 5px;
    width: 100px;
    background: #202060;
    position: absolute;
    top: 110%;
    right: 48%;
  }
}
/*# sourceMappingURL=main.css.map */