@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,900;1,900&family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,900;1,900&family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,900;1,900&family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,900;1,900&family=Roboto&display=swap");
.portfolio {
  padding: 5rem 0;
}

.portfolio .portfolio-title {
  font-weight: 400;
  letter-spacing: 3px;
}

.portfolio .portfolio-title .recent-work {
  margin-bottom: 1rem;
  font-size: 1rem;
  color: #e2a850;
  position: relative;
  padding-left: 4rem;
}

.portfolio .portfolio-title .recent-work::before {
  content: "";
  height: 1px;
  width: 3rem;
  background: #e2a850;
  position: absolute;
  left: 0;
  top: 10px;
}

.portfolio .portfolio-title p {
  font-size: 2rem;
  margin: 2rem 0;
}

.portfolio figure {
  position: relative;
  margin-bottom: 5rem;
}

.portfolio figure img {
  opacity: 0.5;
}

.portfolio figure strong {
  display: none;
}

.portfolio figure figcaption {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.portfolio figure figcaption h3 {
  font-size: 1.3rem;
  font-family: "Playfair Display", serif;
}

.portfolio figure figcaption p {
  font-size: 0.8rem;
  margin: 0.9rem 0;
}

.portfolio figure figcaption a {
  cursor: pointer;
  padding: 0.4rem 1rem;
  border-radius: 2px;
  border: none;
  font-size: 1rem;
  font-weight: 500;
  background: #141516;
  color: white;
  border-left: 2px solid transparent;
  border-bottom: 2px solid transparent;
}

.portfolio figure figcaption a:hover {
  border-bottom: 2px solid #e2a850;
  border-left: 2px solid #e2a850;
}

.portfolio figure figcaption a + a {
  margin-left: 1rem;
}

.portfolio .view-more-projects {
  text-align: center;
}

.portfolio .view-more-projects input {
  cursor: pointer;
  padding: 1.5rem 1.7rem;
  margin-top: 3rem;
  border-radius: 2px;
  border: none;
  font-size: 1.2rem;
  font-weight: 600;
  border: 1px solid #e2a850;
  color: white;
  background: transparent;
  transition: all 0.5s ease-out;
}

.portfolio .view-more-projects input:hover {
  background: transparent;
  border: 1px solid white;
  color: white;
  transition: all 0.5s ease-in;
}

@media screen and (min-width: 540px) and (max-width: 799px) {
  .portfolio figure figcaption h3 {
    font-size: 1.7rem;
  }
  .portfolio figure figcaption p {
    font-size: 1rem;
  }
}

@media screen and (min-width: 800px) {
  .portfolio .portfolio-title {
    width: 100%;
  }
  .portfolio .portfolio-title p {
    font-size: 3rem;
    max-width: 80%;
  }
  .portfolio .project-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2rem;
    width: 100%;
  }
  .portfolio figure {
    width: 100%;
    margin: 2rem auto;
  }
  .portfolio figure figcaption {
    padding: 0 3rem;
    transform: translateY(5%);
    opacity: 0;
  }
  .portfolio figure figcaption h3 {
    font-size: 2.7rem;
  }
  .portfolio figure figcaption p {
    font-size: 1.3rem;
    margin: 1rem 0 1.5rem;
  }
  .portfolio figure figcaption a {
    padding: 1rem 2rem;
    font-weight: 600;
  }
  .portfolio figure strong {
    display: block;
  }
  .portfolio figure::before {
    content: "";
    position: absolute;
    top: 0;
    height: 100%;
    width: 0;
    background: linear-gradient(270deg, #a1a1a2, #141516);
    transform: translateX(1%);
    transition: all 0.5s ease;
    opacity: 0;
  }
  .portfolio figure:hover figcaption {
    transform: translateX(0);
    opacity: 1;
    transition: 0.5s ease-out;
  }
  .portfolio figure:hover::before {
    transform: translateY(0);
    transition: all 0.3s ease-in;
    opacity: 0.7;
    width: 100%;
  }
  .portfolio figure:hover strong {
    opacity: 1;
    transition: 0.5s ease-out;
    transform: translateY(0);
  }
  .portfolio strong {
    position: absolute;
    right: 0;
    top: -12%;
    font-size: 7rem;
    opacity: 0;
    transform: translateY(30%);
  }
}

.lets-work-together {
  background: #a1a1a2;
  background-image: url("/images/christina-wocintechchat-com-OtHEYbQXLFU-unsplash.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 3rem 0;
  min-height: 70vh;
}

.lets-work-together-content {
  color: #141516;
}

.lets-work-together-content h3 {
  margin: 2rem 0;
  letter-spacing: 2px;
  font-size: 2rem;
  font-family: "Playfair Display", serif;
}

.lets-work-together-content input {
  display: block;
  padding: 1rem 2rem;
  cursor: pointer;
  background: #141516;
  color: white;
  border: none;
  font-weight: 600;
  transition: 0.5s ease-out;
}

.lets-work-together-content input:hover {
  background: transparent;
  border: 1px solid #141516;
  color: #141516;
  transition: 0.5s ease-in;
}

@media screen and (min-width: 800px) {
  .lets-work-together-content input {
    padding: 1.5rem 2rem;
    font-size: 1.2rem;
  }
  .lets-work-together-content h3 {
    letter-spacing: 5px;
    font-size: 2.5rem;
  }
}

/* *****************************************
******************************************
************ FOOTER STYLES******************** */
footer {
  background: #141516;
  min-height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 1rem;
}

footer a {
  color: white;
}

footer a:hover {
  color: #e2a850;
}

footer .footer-content {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.footer-nav {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.footer-nav .footer-logo {
  margin-top: 2rem;
  font-family: "Playfair Display", serif;
}

.footer-nav .footer-logo a {
  color: #e2a850;
}

.footer-nav ul {
  margin: 2rem 0;
  list-style: none;
}

.footer-nav ul li + li {
  margin-top: 1rem;
}

.footer-nav ul a {
  font-size: 0.9rem;
}

.footer-social-media {
  cursor: pointer;
  font-size: 0.8rem;
  text-transform: uppercase;
  margin-bottom: 2rem;
}

.footer-social-media a + a {
  margin-left: 1rem;
}

.footer-social-media a {
  font-size: 0.9rem;
}

.copy-write {
  margin-top: 3rem;
  text-align: center;
}

@media screen and (min-width: 800px) {
  footer .footer-content {
    width: 100%;
  }
  footer .footer-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  footer .footer-nav {
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  footer .footer-nav .footer-logo {
    margin-top: 0;
  }
  footer .footer-nav ul {
    display: flex;
    align-items: center;
    list-style: none;
    margin-left: 4rem;
  }
  footer .footer-nav ul li + li {
    margin-top: 0;
    margin-left: 1rem;
  }
  footer .footer-nav ul a {
    font-size: 0.9rem;
  }
  footer .footer-social-media {
    margin-bottom: 0;
  }
}

.header-container {
  position: relative;
  padding: 0.5rem 0;
}

.header-container nav {
  position: fixed;
  right: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  background: #141516;
  z-index: 1000;
  transform: translateY(-100%);
}

.header-container nav ul {
  list-style: none;
}

.header-container nav ul li + li {
  margin-top: 2rem;
}

.header-container nav ul li {
  font-size: 1.8rem;
}

.header-container nav ul li a {
  color: white;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-container nav ul li a:hover {
  color: #e2a850;
}

.header-container .show-nav {
  transform: translateY(0);
  transition: 0.5s ease-in;
}

@media screen and (min-width: 800px) {
  .header-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .header-container nav {
    transform: translateY(0);
    position: static;
    height: 100%;
    display: block;
  }
  .header-container nav ul {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    margin-top: 0;
  }
  .header-container nav ul li + li {
    margin-top: 0;
  }
  .header-container nav ul li {
    padding: 0.5rem;
    border-radius: 4px;
    width: 100%;
    font-size: 1rem;
    border: 1px solid rgba(255, 255, 255, 0.05);
    border-top: none;
    border-bottom: none;
  }
  .header-container nav ul li a {
    padding: 0.5rem;
  }
  .header-container nav ul li:hover a {
    color: #e2a850;
  }
}

.contact-description {
  position: fixed;
  display: flex;
  flex-direction: column;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
}

.contact-description h2 {
  letter-spacing: 2px;
  margin: 1.5rem 0;
  font-family: "Playfair Display", serif;
  font-weight: bold;
  font-size: 1.7rem;
}

.contact-description .contact-details {
  background: #e2a850;
  transform: translate3d(-100%, 0, 0);
  height: 100%;
  width: 100%;
  order: 1;
  color: #141516;
  transition: 0.5s ease-out;
}

.contact-description .contact-details-content {
  width: 92%;
  margin: auto;
}

.contact-description .contact-details p {
  margin: 1rem 0;
}

.contact-description .contact-details hr {
  border: 1px solid #141516;
  margin: 2rem 0;
}

.contact-description .contact-details .contact-icon-details {
  background: #141516;
  color: white;
  padding: 1rem;
  margin-bottom: 1rem;
}

.contact-description .contact-details .contact-icon-details .icon {
  font-size: 1.5rem;
}

.contact-description .contact-details .contact-icon-details p {
  font-size: 1rem;
  margin: 0.8rem 0;
}

.contact-description .contact-details .contact-icon-details .location,
.contact-description .contact-details .contact-icon-details .telephone,
.contact-description .contact-details .contact-icon-details .email {
  display: flex;
  align-items: center;
}

.contact-description .contact-details .contact-icon-details .location p,
.contact-description .contact-details .contact-icon-details .telephone p,
.contact-description .contact-details .contact-icon-details .email p {
  margin-left: 1rem;
  letter-spacing: 1px;
  width: 90%;
}

.contact-description .contact-details .contact-icon-details .contact-social-media {
  margin-top: 2rem;
}

.contact-description .contact-details .contact-icon-details .contact-social-media .social + .social {
  margin-left: 2rem;
}

.contact-description .contact-details .contact-icon-details .contact-social-media .social {
  cursor: pointer;
}

.contact-description .contact-details .contact-icon-details .contact-social-media .social:hover {
  color: #e2a850;
}

.contact-description .contact-form {
  background: #141516;
  transform: translate3d(100%, 0, 0);
  height: 100%;
  width: 100%;
  order: 0;
  padding: 1rem;
  transition: 1s ease-in-out;
}

.contact-description .contact-form-content {
  width: 92%;
  margin: auto;
}

.contact-description .contact-form label {
  display: inline-block;
  margin-bottom: 0.7rem;
}

.contact-description .contact-form input {
  width: 100%;
  outline: none;
  border: 1px solid #e2a850;
  background: transparent;
  color: white;
  padding: 0.5rem 0 1rem 0.5rem;
  margin-bottom: 2rem;
}

.contact-description .contact-form textarea {
  width: 100%;
  background: transparent;
  outline: none;
  border: 1px solid #e2a850;
  color: white;
  padding: 0.5rem 0 1rem 0.5rem;
}

.contact-description .contact-form button {
  padding: 0.8rem 3rem;
  font-size: 1rem;
  font-weight: bold;
  color: #141516;
  margin: 1rem 0;
  cursor: pointer;
  outline: none;
  background: #e2a850;
  border: none;
  outline: none;
}

.contact-description .contact-form button:hover {
  background: transparent;
  color: #a1a1a2;
  border: 1px solid #e2a850;
}

.contact-description .close-icon {
  text-align: right;
  position: absolute;
  right: 20px;
}

.contact-description .close-icon img {
  width: 25px;
  cursor: pointer;
  transition: 0.2s ease-out;
}

.contact-description .close-icon img:hover {
  transform: rotate(180deg);
  transition: 0.2s ease-in;
}

.contact-description.show-contact {
  z-index: 2000;
  overflow-y: scroll;
}

.contact-description.show-contact .contact-form,
.contact-description.show-contact .contact-details {
  transform: translate3d(0, 0, 0);
  transition: 0.5s ease-in;
}

@media screen and (min-width: 800px) {
  .contact-description {
    position: fixed;
    top: 52%;
    left: 50%;
    height: 100%;
    width: 90%;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    transform: translate(-50%, -50%);
    z-index: -1;
  }
  .contact-description .contact-details,
  .contact-description .contact-form {
    height: 95%;
    width: 48%;
  }
  .contact-description .contact-details-content,
  .contact-description .contact-form-content {
    width: 80%;
    margin: auto;
  }
  .contact-description .contact-form {
    transform: translateY(120%);
    transition: all 0.3s ease-out;
    order: 1;
  }
  .contact-description .contact-details {
    transform: translateY(-120%);
    transition: all 0.3s ease-out;
    order: 0;
  }
  .contact-description .contact-details p {
    font-size: 1.2rem;
  }
  .contact-description .contact-details .contact-icon-details {
    padding: 2rem;
  }
  .contact-description .contact-details .contact-icon-details .location p,
  .contact-description .contact-details .contact-icon-details .telephone p,
  .contact-description .contact-details .contact-icon-details .email p {
    font-size: 1.1rem;
  }
  .contact-description.show-contact {
    z-index: 2000;
    overflow: hidden;
  }
  .contact-description.show-contact .contact-form,
  .contact-description.show-contact .contact-details {
    transform: translateY(0);
    transition: 0.5s all ease-out;
  }
}

.about {
  padding: 5rem 0;
}

.about-description .about-title {
  margin: 2rem 0;
  font-size: 1rem;
  color: #e2a850;
  position: relative;
  padding-left: 3rem;
}

.about-description .about-title::before {
  content: "";
  position: absolute;
  height: 1px;
  width: 2rem;
  left: 0;
  top: 10px;
  background: #e2a850;
}

.about-description h2 {
  font-size: 2rem;
  margin-bottom: 2rem;
  letter-spacing: 5px;
  font-family: "Playfair Display", serif;
}

.about-description span {
  color: #e2a850;
}

.about-description p {
  line-height: 2;
  font-size: 1.2rem;
  letter-spacing: 1px;
}

.about-description .download-cv {
  text-align: center;
  margin: 2rem 0;
}

.about-description .download-cv a {
  background: #2c2c2d;
  color: #e2a850;
  font-weight: 600;
  font-size: 0.9rem;
  letter-spacing: 4px;
  display: block;
  width: 100%;
  padding: 1.3rem 0;
}

.about-description .download-cv a:hover {
  background: #a1a1a2;
  color: #141516;
}

.about .skills {
  padding-top: 10rem;
}

.about .skills-content .skills-header {
  padding-bottom: 2rem;
  padding-left: 3rem;
  position: relative;
  color: #e2a850;
}

.about .skills-content .skills-header::before {
  content: "";
  position: absolute;
  height: 1px;
  width: 2rem;
  left: 0;
  top: 10px;
  background: #e2a850;
}

.about .skills-content .skills-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
}

.about .skills-content .skills-container .skill-icon {
  font-size: 1.3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  background: #2c2c2d;
  border: none;
  border-radius: 2px;
  transition: 0.8s ease-out;
}

.about .skills-content .skills-container .skill-icon p {
  font-size: 1rem;
  margin-top: 1rem;
}

.about .skills-content .skills-container .skill-icon:hover {
  border-left: 2px solid #e2a850;
  transition: 0.8s ease-in;
}

.about .skills-content .skills-container .html {
  color: #ff5733;
}

.about .skills-content .skills-container .css {
  color: blue;
}

.about .skills-content .skills-container .js {
  color: #f0db4f;
}

.about .skills-content .skills-container .react {
  color: #61dbfb;
}

.about .skills-content .skills-container .scss {
  color: #cc6699;
}

.about .skills-content .skills-container .responsive-design {
  color: white;
  text-align: center;
}

@media screen and (min-width: 900px) {
  .about {
    margin: 5rem 0;
  }
  .about .flex {
    display: flex;
  }
  .about .flex figure {
    width: 40%;
  }
  .about .flex .about-description {
    width: 40%;
    margin-left: 5rem;
  }
  .about .flex .about-description .about-title {
    margin-top: 0;
  }
  .about .skills-content .skills-container {
    grid-template-columns: repeat(4, 1fr);
  }
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
  color: white;
  font-weight: 300;
  background: #141516;
}

main {
  background: #141516;
}

/* **************************
*******GENERAL STYLES */
a {
  text-decoration: none;
  cursor: pointer;
}

img {
  max-width: 100%;
}

.container {
  max-width: 1200px;
  width: 85%;
  margin: 0 auto;
}

/* *****************************
********************************
**********HEADER STYLES********* */
header::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  background-image: url("/images/fotis-fotopoulos-xQ2qynQ92xs-unsplash.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #141516;
  z-index: -1;
  opacity: 1;
}

header {
  color: black;
  min-height: 100vh;
  background: #141516;
  margin-bottom: 10rem;
}

header .header-nav {
  border-bottom: 1px solid rgba(255, 255, 255, 0.05);
  border-top: none;
  padding: 0.2rem 0;
}

.header-social-media .social {
  color: #e2a850;
}

.logo {
  font-family: "Playfair Display", serif;
  height: 100%;
  width: 100%;
  color: #e2a850;
  font-weight: 400;
  letter-spacing: 3px;
  font-size: 1rem;
  position: relative;
}

.logo::after {
  content: "";
  height: 1px;
  width: 2rem;
  background: #e2a850;
  position: absolute;
  top: 12px;
  margin-left: 0.2rem;
}

/* ********** ************
******* HEADER CONTENT ***** */
.header-description {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  color: #2c2b2b;
}

.header-description .hello-word-intro {
  color: #e2a850;
  position: relative;
  padding-left: 3rem;
  margin: 2rem 0;
}

.header-description .hello-word-intro::before {
  content: "";
  height: 1px;
  width: 2rem;
  background: #e2a850;
  position: absolute;
  top: 10px;
  left: 0;
}

.header-description p {
  font-size: 1.2rem;
  margin-top: 1rem;
}

.header-description h1 {
  font-size: 3rem;
  font-weight: bold;
  color: white;
  font-family: "Playfair Display", serif;
  letter-spacing: 2px;
}

.header-description em {
  color: white;
  font-size: 1.2rem;
  font-family: "Roboto", sans-serif;
  letter-spacing: 2px;
}

.header-description .btn-container {
  position: relative;
}

.header-description .btn-container a {
  display: inline-block;
  color: black;
  background: #e2a850;
  margin: 1rem auto;
  padding: 1rem 3rem;
  border-radius: 3px;
  font-size: 1.3rem;
}

.header-description .btn-container span {
  position: absolute;
  top: 16px;
  left: 170px;
}

.header-description .contact-input {
  margin-bottom: 1rem;
  padding: 1em 2.3em;
}

.header-description * {
  margin: 0.7rem 0;
}

.header-social-media .social {
  margin-right: 0.7rem;
  cursor: pointer;
  color: white;
  transform: rotate(90deg);
  font-size: 0.8rem;
  padding: 0.5rem 1rem;
}

.header-social-media .social + .social {
  margin-top: 5rem;
}

.header-social-media .social:hover {
  color: #e2a850;
}

/* ******************************************************
************ HAMBURGER MENU ***************** */
.hamburger-menu {
  position: absolute;
  top: 25%;
  right: 0;
  cursor: pointer;
  transition: 0.3s ease-out;
  z-index: 2000;
  display: flex;
}

.hamburger {
  transition: transform 0.3s ease-in;
  visibility: visible;
  transform: translateX(0);
}

.hamburger-close {
  transform: translateX(150%);
  transition: transform 0.3s ease-in;
  visibility: hidden;
}

.show {
  transition: 0.5s ease-in;
}

.show .hamburger {
  transform: translateX(150%);
  visibility: hidden;
}

.show .hamburger-close {
  transform: translateX(0);
  transition: transform 0.3s ease-in;
  visibility: visible;
  display: block;
}

/* *********************************************************
**********************************************************
*******************MEDIA QUERY **************************** */
@media screen and (max-width: 799px) {
  .header-description h1 {
    font-size: 3rem;
  }
}

@media screen and (min-width: 800px) {
  .container {
    width: 100%;
  }
  .header-description {
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  .header-description h1 {
    font-size: 4rem;
  }
  .header-description input {
    padding: 1em 2em;
    margin: 1.5rem 1.5rem 1.5rem auto;
  }
  .header-description .header-social-media {
    display: flex;
    flex-direction: column;
  }
  .hamburger-menu {
    display: none;
  }
}
/*# sourceMappingURL=main.css.map */