@import "./partials/partial";
@import url("https://fonts.googleapis.com/css2?family=Courier+Prime&family=Montserrat:wght@700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Monoton&display=swap");

$primary-font: "Courier New", "Courier Prime", monospace;
$secondary-font: "Montserrat", sans-serif;
$heading-font: "Monoton", cursive;
$secondary-color: #0a1931;
$primary-color: #cfcfcf;
$text-color: rgb(236, 236, 236);

*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html {
	overflow-x: hidden;
}

body {
	font-family: $secondary-font;
	line-height: 1.5;
	color: $text-color;
}

main {
	background: $secondary-color;
}

/* **************************
*******GENERAL STYLES */

a {
	text-decoration: none;
	cursor: pointer;
}

img {
	max-width: 100%;
}

.container {
	max-width: 1000px;
	width: 93%;
	margin: 0 auto;
}

/* *****************************
********************************
**********HEADER STYLES********* */
header::before {
	content: "";
	position: absolute;
	top: 0;
	right: 0;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: flex-start;
	justify-content: center;
	background-image: url("/images/portfolio-img.jpg");
	background-position: center;
	background-repeat: repeat;
	background-size: cover;
	z-index: -1;
	opacity: 0.2;
}

header {
	padding: 1rem 0;
	color: rgb(0, 0, 0);
	min-height: 95vh;
}

.header-social-media .social {
	color: white;
}

.logo {
	font-family: $heading-font;

	.logo-link {
		color: $secondary-color;
		font-weight: 400;
		font-size: 1.5rem;
	}
}

/* ********** ************
******* HEADER CONTENT ***** */

.header-description {
	min-height: 80vh;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
	color: rgb(44, 43, 43);

	p {
		font-size: 1.2rem;
		margin-top: 1rem;
	}

	h4 {
		font-size: 3rem;
		font-weight: 500;
		color: white;
		font-family: $heading-font;
		letter-spacing: 2px;
	}

	em {
		color: white;
	}

	.btn-container {
		position: relative;

		a {
			display: inline-block;
			color: $secondary-color;
			background: $primary-color;
			margin: 1rem auto;
			padding: 0.9rem 2rem;
			border-radius: 3px;
		}
	}

	.contact-input {
		margin-bottom: 1rem;
		padding: 1em 2.3em;
	}
}

.header-description * {
	margin: 0.7rem 0;
}

.header-social-media {
	.social {
		margin-right: 0.7rem;
		cursor: pointer;
		color: $secondary-color;
	}
}

/* ******************************************************
************ HAMBURGER MENU ***************** */

.hamburger-menu {
	position: absolute;
	top: 25%;
	right: 0;
	cursor: pointer;
	transition: 0.5s ease-out;
	z-index: 2000;
}

.hamburger-large {
	height: 2px;
	width: 30px;
	background-color: $secondary-color;
	margin-left: auto;
	margin-bottom: 0.2rem;
	border-radius: 5px;
}

.hamburger-medium {
	height: 2px;
	width: 30px;
	background-color: $secondary-color;
	margin-left: auto;
	margin-bottom: 0.25rem;
	border-radius: 5px;
}

.hamburger-small {
	height: 2px;
	width: 30px;
	background-color: $secondary-color;
	border-radius: 5px;
	margin-left: auto;
}

.show {
	transform: rotate(360deg);

	.hamburger-large {
		transform: rotate(45deg) translate(12px, 2px);
		transition: 0.5s ease-in-out;
		background-color: $primary-color;
	}

	.hamburger-medium {
		transform: rotate(-45deg) translate(1px, 7px);
		width: 28px;
		transition: 0.5s ease-in-out;
		background-color: $primary-color;
	}

	.hamburger-small {
		display: none;
	}
}

/* *********************************************************
**********************************************************
*******************MEDIA QUERY **************************** */
@media screen and (max-width: 799px) {
	.header-description {
		h4 {
			font-size: 2.5rem;
			color: $secondary-color;
		}

		em {
			color: $secondary-color;
		}

		.btn-container {
			a {
				background: $secondary-color;
				color: $primary-color;
			}
		}
	}
}

@media screen and (min-width: 800px) {
	header {
		.portfolio-hero {
			background: $secondary-color;
			padding-left: 2rem;
			border-radius: 5px;
			position: relative;
			box-shadow: 1px 3px 5px 0px rgba(0, 0, 0, 0.75);
			-webkit-box-shadow: 1px 3px 5px 0px rgba(0, 0, 0, 0.75);
			-moz-box-shadow: 1px 3px 5px 0px rgba(0, 0, 0, 0.75);
		}

		.logo {
			.logo-link {
				color: $primary-color;
				margin-top: 1rem;
			}
		}
	}

	.header-description {
		input {
			padding: 1em 2em;
			margin: 1.5rem 1.5rem 1.5rem auto;
		}

		h4 {
			font-size: 2.3rem;
		}
	}
	.hamburger-menu {
		display: none;
	}
}
