@import url("https://fonts.googleapis.com/css2?family=Courier+Prime&family=Montserrat:wght@700;800;900&display=swap");

$primary-font: "Courier New", "Courier Prime", monospace;
$secondary-font: "Montserrat", sans-serif;
$secondary-color: #202040;
$primary-color: #202060;
$text-color: rgb(236, 236, 236);
$span-color: $primary-color;

*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html {
	overflow-x: hidden;
}

body {
	font-family: "Courier New", "Courier Prime", monospace;
	line-height: 1.5;
	color: $text-color;
}

span {
	color: $span-color;
}

/* **************************
*******GENERAL STYLES */

nav {
	display: none;
}

a {
	text-decoration: none;
	cursor: pointer;
}

img {
	max-width: 100%;
}
main {
	background: $secondary-color;
}

.linkedin:hover {
	color: blue;
}

.twitter:hover {
	color: #1384ca;
}

.instagram:hover {
	color: #e1306c;
}
.container {
	max-width: 1000px;
	margin: 0 auto;
}
/* *****************************
********************************
**********HEADER STYLES********* */
header::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	width: 100%;
	background-image: url("/images/portfolio-img.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	z-index: -1;
	opacity: 0.3;
}

header::after {
	content: "";
	position: absolute;
	left: 0;
	transform: translate(-1px, -40px) rotate(-1deg);
	padding: 4rem;
	width: 100%;
	background: $span-color;
}

header {
	padding: 1em 2em;
	color: rgb(0, 0, 0);
}

.logo {
	padding: 0.5em 1em;
	background: $span-color;
	height: 45px;

	.logo-link {
		color: $text-color;
		font-weight: 600;
		font-size: 1.2rem;
	}
}

.header-container {
	display: flex;
	justify-content: space-between;
	position: relative;

	.show-nav {
		display: block;
		position: absolute;
		right: 0;
		left: 0;
		top: -17px;
		background: $text-color;
		width: 100%;
		height: 80vh;
		text-align: center;

		ul {
			height: 100%;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
		}

		li {
			list-style: none;

			a {
				display: block;
				margin: 0.8em auto;
				font-size: 1.3rem;
				color: #00aaff;
				font-weight: 600;
			}

			a:hover {
				color: rgb(87, 87, 87);
				border-bottom: 2px solid #52c4fe;
				transition: 0.3s ease-in-out;
			}
		}
	}
}

/* ********** ************
******* HEADER CONTENT ***** */

.header-description {
	margin: 5rem auto 5rem;
	color: rgb(44, 43, 43);

	p {
		font-size: 1.2rem;
		margin-top: 1rem;
	}

	h2 {
		font-family: $secondary-font;
		margin-bottom: 0;
		font-size: 2rem;
	}

	h4 {
		font-size: 2rem;
		font-family: $secondary-font;
	}

	input {
		padding: 1em 2em;
		margin: 1rem auto 0;
		border-radius: 5px;
		background: $span-color;
		outline: none;
		border: none;
		color: $text-color;
		font-family: $primary-font;
		font-size: 1rem;
	}
	.contact-input {
		margin-bottom: 1rem;
		padding: 1em 2.3em;
	}
}

.header-description * {
	margin: 0.7rem 0;
}

.header-social-media i {
	margin-right: 0.7rem;
	cursor: pointer;
	color: #202040;
}

/* ******************************************************
************ HAMBURGER MENU ***************** */

.hamburger-menu {
	position: absolute;
	top: 0;
	right: 1.5em;
	cursor: pointer;
	transition: 0.5s ease-in-out;
}

.hamburger-large {
	height: 3px;
	width: 28px;
	background-color: black;
	margin-left: auto;
	margin-bottom: 0.2rem;
	border-radius: 5px;
}

.hamburger-medium {
	height: 3px;
	width: 28px;
	background-color: black;
	margin-left: auto;
	margin-bottom: 0.25rem;
	border-radius: 5px;
}

.hamburger-small {
	height: 3px;
	width: 28px;
	background-color: black;
	border-radius: 5px;
	margin-left: auto;
}

.show {
	transform: rotate(360deg);

	.hamburger-large {
		transform: rotate(45deg) translate(12px, 2px);
		transition: 0.5s ease-in-out;
		background-color: #52c4fe;
	}

	.hamburger-medium {
		transform: rotate(-45deg) translate(1px, 7px);
		width: 28px;
		transition: 0.5s ease-in-out;
		background-color: #52c4fe;
	}

	.hamburger-small {
		display: none;
	}
}

/* *****************************************
********************************************
***********ABOUT ME STYLES *****************/

.about {
	padding: 1em 1.5em;
	background: $text-color;

	.about-content {
		-webkit-box-shadow: 1px 9px 11px -7px $secondary-color;
		box-shadow: 1px 9px 11px -7px $secondary-color;
		padding: 2em;
	}

	h2 {
		padding: 6rem 0 3rem;
		text-align: center;
		font-family: $secondary-font;
		font-size: 1.7rem;
		color: $secondary-color;
	}

	&-image {
		text-align: center;
		padding-bottom: 2rem;
	}

	&-description {
		p + p {
			margin-top: 1rem;
		}

		p {
			width: 90%;
			margin: auto;
			color: $secondary-color;
		}
	}

	.skills {
		text-align: center;
		margin-top: 2rem;

		.icon-container {
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			grid-gap: 1rem;
			align-items: center;
			justify-content: center;
			text-align: center;
		}

		h3 {
			color: $secondary-color;
			font-family: $secondary-font;
			font-size: 1.7rem;
			padding: 2rem 0;
		}
		strong {
			color: $secondary-color;
			font-size: 1.3rem;
		}

		i {
			font-size: 1.3rem;
		}

		.html {
			color: #e34c26;
		}
		.css {
			color: #264de4;
		}
		.js {
			color: #f0db4f;
		}
		.react {
			color: #61dbfb;
		}
		.sass {
			color: #c69;
		}
	}
}

/* ************************************
*********************************** 
******* SERVICES STYLES ***********/

.services {
	margin-top: 2rem;
	padding: 1em 1.5em 1em;
}

.services-container {
	max-width: 700px;
	margin: auto;
}

.services-container > div {
	background: $text-color;
	color: black;
	margin: 1em auto;
	padding: 5em 0.5em;
	text-align: center;
	width: 70%;
	border-radius: 5px;
}

.service-content h4 {
	margin-bottom: 1em;
}

.services-title {
	text-align: center;
	margin: 1em auto;
	font-size: 1.8rem;
	font-family: $secondary-font;
}

/* ********************************************
***********************************************
**************PORTFOLIO STYLES**************** */
.portfolio {
	padding: 1em 1.5em;
}

.project-container {
	padding: 0 1.5em;
	text-align: center;

	// .portfolio1 {
	// 	margin-top: 2.5em;
	// }
}

.portfolio-title {
	text-align: center;
	margin-bottom: 1.5em;
}

/* *****************************************
******************************************
************ FOOTER STYLES******************** */

footer {
	background: $primary-color;
	padding: 4em 1.5em 2em;
	text-align: center;
}
.social-media-icon {
	border-radius: 50%;
	padding: 0.2em;
	cursor: pointer;
}
.copy-write {
	margin-top: 2rem;
}

/* *********************************************************
**********************************************************
*******************MEDIA QUERY **************************** */

@media screen and (min-width: 700px) {
	.header-description {
		input {
			padding: 1em 2em;
			margin: 1.5rem 1.5rem 1.5rem auto;
		}
	}

	.services {
		padding: 1em 0;

		.services-container {
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			column-gap: 1.8em;
			row-gap: 1em;

			.service-grid {
				margin: 0.5em 0.5em;
				width: 100%;
			}
		}
	}

	.project-container {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-gap: 0.5em;
		padding: 0;
	}
}

@media screen and (min-width: 800px) {
	.about {
		.about-content {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
		}
		.about-description {
			grid-column: span 2;
		}
		.skills {
			.icon-container {
				grid-template-columns: repeat(3, 1fr);
			}

			strong {
				font-size: 1.5rem;
			}
			i {
				font-size: 2rem;
			}
		}
	}

	.hamburger-menu {
		display: none;
	}

	nav {
		display: block;

		ul {
			display: flex;
			align-items: center;
			justify-content: center;
			list-style: none;

			li + li {
				margin-left: 2rem;
			}

			a {
				color: $secondary-color;
				font-weight: 900;
				font-size: 1.2rem;
			}

			li:hover {
				transition: 0.5s ease-in-out;
			}

			.short-length-link::before {
				content: "";
				position: absolute;
				top: -17px;
				margin-left: 25px;
				height: 20px;
				width: 7px;
				background: $primary-color;
				display: none;
			}

			.long-length-link::before {
				content: "";
				position: absolute;
				top: -17px;
				margin-left: 39px;
				height: 20px;
				width: 7px;
				background: $primary-color;
				display: none;
			}

			.long-length-link:hover::before,
			.short-length-link:hover::before {
				display: block;
			}
		}
	}
}
