@import "./partials/partial";

*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html {
	overflow-x: hidden;
	scroll-behavior: smooth;
}

body {
	font-family: $secondary-font;
	line-height: 1.5;
	color: $text-color;
	font-weight: 300;
}

main {
	background: $secondary-color;
}

/* **************************
*******GENERAL STYLES */

a {
	text-decoration: none;
	cursor: pointer;
}

img {
	max-width: 100%;
}

.container {
	max-width: 1200px;
	width: 85%;
	margin: 0 auto;
}

/* *****************************
********************************
**********HEADER STYLES********* */
header::before {
	content: "";
	position: absolute;
	top: 0;
	right: 0;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: flex-start;
	justify-content: center;
	background-image: url("/images/fotis-fotopoulos-xQ2qynQ92xs-unsplash.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-color: $secondary-color;
	z-index: -1;
	opacity: 1;
}

header {
	color: rgb(0, 0, 0);
	min-height: 100vh;
	background: $secondary-color;
	padding-bottom: 10rem;

	.header-nav {
		border-bottom: 1px solid $border-color;
		border-top: none;
		padding: 0.2rem 0;
	}
}

.header-social-media .social {
	color: $gold-color;
}

.logo {
	font-family: $heading-font;
	height: 100%;
	width: 100%;
	color: $gold-color;
	font-weight: 400;
	letter-spacing: 3px;
	font-size: 1rem;
	position: relative;
}

.logo::after {
	content: "";
	height: 1px;
	width: 2rem;
	background: $gold-color;
	position: absolute;
	top: 12px;
	margin-left: 0.2rem;
}

/* ********** ************
******* HEADER CONTENT ***** */

.header-description {
	min-height: 100%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
	color: rgb(44, 43, 43);

	.hello-word-intro {
		color: $gold-color;
		position: relative;
		padding-left: 3rem;
		margin: 2rem 0;
	}

	.hello-word-intro::before {
		content: "";
		height: 1px;
		width: 2rem;
		background: $gold-color;
		position: absolute;
		top: 10px;
		left: 0;
	}

	p {
		font-size: 1.2rem;
		margin-top: 1rem;
	}

	h1 {
		font-size: 3rem;
		font-weight: bold;
		color: white;
		font-family: $heading-font;
		letter-spacing: 2px;
	}

	em {
		color: white;
		font-size: 1.2rem;
		// font-weight: bold;
		font-family: $secondary-font;
		letter-spacing: 2px;
	}

	.btn-container {
		position: relative;
		a {
			display: inline-block;
			color: black;
			background: $gold-color;
			margin: 1rem auto;
			padding: 1rem 3rem;
			border-radius: 3px;
			font-size: 1.3rem;
		}
		span {
			position: absolute;
			top: 16px;
			left: 170px;
		}
	}

	.contact-input {
		margin-bottom: 1rem;
		padding: 1em 2.3em;
	}
}

.header-description * {
	margin: 0.7rem 0;
}

.header-social-media {
	.social {
		margin-right: 0.7rem;
		cursor: pointer;
		color: $text-color;
		transform: rotate(90deg);
		font-size: 0.8rem;
		padding: 0.5rem 1rem;
	}

	.social + .social {
		margin-top: 5rem;
	}

	.social:hover {
		color: $gold-color;
	}
}

/* ******************************************************
************ HAMBURGER MENU ***************** */

.hamburger-menu {
	position: absolute;
	top: 25%;
	right: 0;
	cursor: pointer;
	transition: 0.3s ease-out;
	z-index: 2000;
	display: flex;
}
.hamburger {
	transition: transform 0.3s ease-in;
	visibility: visible;
	transform: translateX(0);
}
.hamburger-close {
	transform: translateX(150%);
	transition: transform 0.3s ease-in;
	visibility: hidden;
}
.show {
	transition: 0.5s ease-in;

	.hamburger {
		transform: translateX(150%);
		visibility: hidden;
	}
	.hamburger-close {
		transform: translateX(0);
		transition: transform 0.3s ease-in;
		visibility: visible;
		display: block;
	}
}

/* *********************************************************
**********************************************************
*******************MEDIA QUERY **************************** */

@media screen and (max-width: 799px) {
	.header-description {
		h1 {
			font-size: 3rem;
		}
	}
}

@media screen and (min-width: 800px) {
	.container {
		width: 100%;
	}
	.header-description {
		width: 100%;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;

		h1 {
			font-size: 4rem;
		}

		input {
			padding: 1em 2em;
			margin: 1.5rem 1.5rem 1.5rem auto;
		}

		.header-social-media {
			display: flex;
			flex-direction: column;
		}
	}
	.hamburger-menu {
		display: none;
	}
}
