@import "./partials/partial";

*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html {
	overflow-x: hidden;
	scroll-behavior: smooth;
}

body {
	font-family: $secondary-font;
	line-height: 1.5;
	color: $text-color;
	font-weight: 300;
	background: $secondary-color;
}

main {
	background: $secondary-color;
}

/* **************************
*******GENERAL STYLES */

a {
	text-decoration: none;
	cursor: pointer;
}

img {
	max-width: 100%;
}

.container {
	max-width: 1200px;
	width: 90%;
	margin: 0 auto;
}

/* *****************************
********************************
**********HEADER STYLES********* */

header {
	color: rgb(0, 0, 0);
	background: transparent;
	margin-bottom: 5rem;
	min-height: 120vh;

	.header-nav {
		background: $gold-color;
		border-top: none;
		padding: 0.2rem 0;
		position: fixed;
		top: 0;
		width: 100%;
		z-index: 1000;
	}
}

.header-social-media .social {
	color: $gold-color;
}

.logo {
	font-family: $heading-font;
	height: 100%;
	width: 100%;
	color: $text-color;
	font-weight: 400;
	letter-spacing: 3px;
	font-size: 1.2rem;
	position: relative;
}

.logo::after {
	content: "";
	height: 1px;
	width: 2rem;
	background: $text-color;
	position: absolute;
	top: 14px;
	margin-left: 0.2rem;
}

/* ********** ************
******* HEADER CONTENT ***** */

.header-description {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
	color: rgb(44, 43, 43);
	margin: 2rem 0;

	.hello-word-intro {
		color: $gold-color;
		position: relative;
		padding-left: 3rem;
		margin: 4rem 0 3rem;
	}

	.hello-word-intro::before {
		content: "";
		height: 1px;
		width: 2rem;
		background: $gold-color;
		position: absolute;
		top: 10px;
		left: 0;
	}

	p {
		font-size: 1.2rem;
		margin-top: 1rem;
	}

	h1 {
		font-size: 3rem;
		font-weight: bolder;
		color: white;
		font-family: $heading-font;
		letter-spacing: 3px;
	}
}

.header-social-media {
	margin: 3rem 0;
	display: flex;

	.social {
		cursor: pointer;
		color: $text-color;
		font-size: 0.8rem;
		padding: 0.5rem 1rem;
		border: 1px solid $gold-color;
		display: flex;
		margin: 1rem 0;
	}

	.social + .social {
		margin-left: 1rem;
	}

	.social:hover {
		color: $gold-color;
	}
}

/* ******************************************************
************ HAMBURGER MENU ***************** */

.hamburger-menu {
	position: absolute;
	top: 28%;
	right: 0;
	cursor: pointer;
	transition: 0.3s ease-out;
	z-index: 2000;
	display: flex;
}
.hamburger {
	transition: transform 0.3s ease-in;
	visibility: visible;
	transform: translateX(0);
}
.hamburger-close {
	transform: translateX(150%);
	transition: transform 0.3s ease-in;
	visibility: hidden;
}
.show {
	transition: 0.5s ease-in;
	right: 5%;

	.hamburger {
		transform: translateX(150%);
		visibility: hidden;
	}
	.hamburger-close {
		transform: translateX(0);
		transition: transform 0.3s ease-in;
		visibility: visible;
		display: block;
	}
}

/* *********************************************************
**********************************************************
*******************MEDIA QUERY **************************** */

@media screen and (max-width: 799px) {
	.header-description {
		h1 {
			font-size: 3rem;
		}
	}
}

@media screen and (min-width: 800px) {
	.header-description {
		width: 100%;
		flex-direction: row;
		align-items: flex-end;
		justify-content: space-between;
		margin: 4rem 0;

		h1 {
			font-size: 4.5rem;
		}

		input {
			padding: 1em 2em;
			margin: 1.5rem 1.5rem 1.5rem auto;
		}

		.header-social-media {
			display: flex;
			flex-direction: column;
			align-items: center;

			.social {
				transform: rotate(90deg);
				margin-right: 0.7rem;
			}

			.social + .social {
				margin-left: 0;
				margin-top: 5rem;
			}
		}
	}
	.hamburger-menu {
		display: none;
	}
}
