$primary-font: "Courier New", "Courier Prime", monospace;
$secondary-font: "Montserrat", sans-serif;
$heading-font: "Monoton", cursive;
$secondary-color: #0a1931;
$primary-color: #cfcfcf;
$text-color: rgb(236, 236, 236);
