@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,900;1,900&family=Roboto&display=swap");

$secondary-font: "Roboto", sans-serif;
$heading-font: "Playfair Display", serif;
$secondary-color: #141516;
$primary-color: #a1a1a2;
$text-color: rgb(255, 255, 255);
$gold-color: hsla(36, 72%, 60%, 1);
$border-color: rgba(255, 255, 255, 0.05);
