.lets-work-together {
	background: $primary-color;
	background-image: url("/images/christina-wocintechchat-com-OtHEYbQXLFU-unsplash.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	padding: 3rem 0;
	min-height: 70vh;

	&-content {
		color: $secondary-color;

		h3 {
			margin: 2rem 0;
			letter-spacing: 2px;
			font-size: 2rem;
			font-family: $heading-font;
		}

		input {
			display: block;
			padding: 1rem 2rem;
			cursor: pointer;
			background: $secondary-color;
			color: $primary-color;
			border: none;
			font-weight: 600;
		}
	}
}

@media screen and (min-width: 800px) {
	.lets-work-together {
		&-content {
			input {
				padding: 1.5rem 2rem;
				font-size: 1.2rem;
			}
			h3 {
				letter-spacing: 5px;
				font-size: 2.5rem;
			}
		}
	}
}
