.lets-work-together {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	padding: 3rem 0;
	min-height: 70vh;

	&-content {
		color: $text-color;
		z-index: 100;

		h3 {
			margin: 2rem 0;
			letter-spacing: 2px;
			font-size: 2rem;
			font-family: $heading-font;
		}

		input {
			display: block;
			padding: 1rem 2rem;
			cursor: pointer;
			background: $secondary-color;
			color: $text-color;
			border: none;
			font-weight: 600;
			transition: 0.5s ease-out;
		}
		input:hover {
			background: $gold-color;
			transition: 0.5s ease-in;
		}
	}
}

.lets-work-together::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background-image: url("/images/joshua-aragon-azft6PuI3Ug-unsplash.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	opacity: 0.4;
}

@media screen and (min-width: 800px) {
	.lets-work-together {
		&-content {
			input {
				padding: 1.5rem 2rem;
				font-size: 1.2rem;
			}
			h3 {
				letter-spacing: 5px;
				font-size: 2.5rem;
			}
		}
	}
}
