.header-container {
	position: relative;

	nav {
		position: fixed;
		right: 0;
		top: 0;
		display: flex;
		align-items: center;
		justify-content: center;
		height: 95vh;
		width: 100vw;
		background: $secondary-color;
		z-index: 1000;
		transform: translateY(-100%);
		transition: 0.5s ease-out;

		ul {
			list-style: none;
			li + li {
				margin-top: 2rem;
			}

			li {
				font-size: 1.8rem;
				text-align: center;

				a {
					color: $primary-color;
					padding: 1rem;
					display: flex;
					align-items: center;
					justify-content: center;
				}
				a:hover {
					background: $primary-color;
					color: $secondary-color;
				}
			}
		}
	}
	.show-nav {
		transform: translateY(0);
		transition: 0.5s ease-in;
	}
}

@media screen and (min-width: 800px) {
	.header-container {
		nav {
			transform: translateY(0);
			background: $primary-color;
			position: absolute;
			right: 0;
			top: 0;
			height: 72vh;
			width: 33%;
			background: $primary-color;

			ul {
				display: flex;
				flex-direction: column;
				align-items: flex-start;
				justify-content: center;
				list-style: none;
				margin-top: 5rem;
				height: 100%;
				li + li {
					margin-top: 0.3rem;
				}
				li {
					padding: 0.5rem;
					border-radius: 4px;
					width: 100%;
					text-align: left;
					a {
						color: $secondary-color;
						font-size: 1.2rem;
						margin-left: 2rem;
						padding: 0.5rem 1rem;
					}
				}

				li:hover a {
					color: $primary-color;
					background: $secondary-color;
				}

				.contact-link::before {
					content: "";
					position: absolute;
					top: -17px;
					margin-left: 36.5px;
					height: 20px;
					width: 7px;
					background: $primary-color;
					display: none;
				}
			}
		}
	}
}
