@import "./default_styles";
.portfolio {
	padding: 5rem 0;

	.portfolio-title {
		text-align: center;
		margin-bottom: 1.5em;
		font-size: 1.8rem;
		font-weight: 400;
		letter-spacing: 3px;
		font-family: $heading-font;
	}

	figure {
		position: relative;
		margin-bottom: 6rem;

		img {
			opacity: 0.5;
		}

		strong {
			display: none;
		}

		figcaption {
			position: absolute;
			top: 0;
			height: 100%;
			width: 100%;
			padding: 1rem;
			display: flex;
			flex-direction: column;
			justify-content: center;

			h3 {
				font-size: 1.3rem;
			}

			p {
				font-size: 0.8rem;
				margin: 0.9rem 0;
			}

			input {
				cursor: pointer;
				padding: 0.5rem 1.5rem;
				border-radius: 2px;
				border: none;
				font-size: 1rem;
				font-weight: 500;
				background: $primary-color;
				color: $secondary-color;
			}

			input + input {
				margin-left: 1rem;
			}
		}
	}

	figcaption.right-figcaption {
		text-align: right;
	}
	.view-more-projects {
		text-align: center;

		input {
			cursor: pointer;
			padding: 0.5rem 1.5rem;
			border-radius: 2px;
			border: none;
			font-size: 1rem;
			font-weight: 600;
		}
	}
}

@media screen and (min-width: 800px) {
	.portfolio {
		figure {
			width: 80%;
			margin: 5rem auto;
			figcaption {
				padding: 0 3rem;
				transform: translateY(5%);
				opacity: 0;

				h3 {
					font-size: 2.5rem;
				}

				p {
					font-size: 1.3rem;
					margin: 1rem 0 1.5rem;
				}
			}

			strong {
				display: block;
			}
		}

		figure::before {
			content: "";
			position: absolute;
			top: 0;
			height: 100%;
			width: 0;
			background: linear-gradient(180deg, $primary-color, $secondary-color);
			background: black;
			transform: translateX(1%);
			transition: all 0.5s ease;
			opacity: 0;
		}

		figure:hover figcaption {
			transform: translateX(0);
			opacity: 1;
			transition: 0.5s ease-out;
		}

		figure:hover::before {
			transform: translateY(0);
			transition: all 0.3s ease-in;
			opacity: 0.7;
			width: 100%;
		}
		figure:hover strong {
			opacity: 1;
			transition: 0.5s ease-out;
			transform: translateY(0);
		}

		.left-number {
			position: absolute;
			right: 0;
			top: -15%;
			font-size: 10rem;
			opacity: 0;
			transform: translateY(30%);
		}
		.right-number {
			position: absolute;
			left: 0;
			top: -15%;
			font-size: 10rem;
			opacity: 0;
			transform: translateY(30%);
		}
	}
}
