@import "./default_styles";
.portfolio {
	padding: 5rem 0;

	.portfolio-title {
		font-weight: 400;
		letter-spacing: 3px;

		.recent-work {
			margin-bottom: 1rem;
			font-size: 1rem;
			color: $gold-color;
			position: relative;
			padding-left: 4rem;
		}

		.recent-work::before {
			content: "";
			height: 1px;
			width: 3rem;
			background: $gold-color;
			position: absolute;
			left: 0;
			top: 10px;
		}

		p {
			font-size: 2rem;
			margin: 2rem 0;
		}
	}

	figure {
		position: relative;
		margin-bottom: 5rem;

		img {
			opacity: 0.5;
		}

		strong {
			display: none;
		}

		figcaption {
			position: absolute;
			top: 0;
			height: 100%;
			width: 100%;
			padding: 1rem;
			display: flex;
			flex-direction: column;
			justify-content: center;

			h3 {
				font-size: 1.3rem;
				font-family: $heading-font;
			}

			p {
				font-size: 0.8rem;
				margin: 0.9rem 0;
			}

			a {
				cursor: pointer;
				padding: 0.4rem 1rem;
				border-radius: 2px;
				border: none;
				font-size: 1rem;
				font-weight: 500;
				background: $secondary-color;
				color: $text-color;
				border-left: 2px solid transparent;
				border-bottom: 2px solid transparent;
			}

			a:hover {
				border-bottom: 2px solid $gold-color;
				border-left: 2px solid $gold-color;
			}

			a + a {
				margin-left: 1rem;
			}
		}
	}

	.view-more-projects {
		text-align: center;

		input {
			cursor: pointer;
			padding: 1.5rem 1.7rem;
			margin-top: 3rem;
			border-radius: 2px;
			border: none;
			font-size: 1.2rem;
			font-weight: 600;
			border: 1px solid $gold-color;
			color: $text-color;
			background: transparent;
			transition: all 0.5s ease-out;
		}

		input:hover {
			background: transparent;
			border: 1px solid $text-color;
			color: $text-color;
			transition: all 0.5s ease-in;
		}
	}
}
@media screen and (min-width: 540px) and (max-width: 799px) {
	.portfolio {
		figure {
			figcaption {
				h3 {
					font-size: 1.7rem;
				}
				p {
					font-size: 1rem;
				}
			}
		}
	}
}

@media screen and (min-width: 800px) {
	.portfolio {
		.portfolio-title {
			width: 100%;

			p {
				font-size: 3rem;
				max-width: 80%;
			}
		}
		.project-container {
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			column-gap: 2rem;
			width: 100%;
		}
		figure {
			width: 100%;
			margin: 2rem auto;
			figcaption {
				padding: 0 3rem;
				transform: translateY(5%);
				opacity: 0;

				h3 {
					font-size: 2.7rem;
				}

				p {
					font-size: 1.3rem;
					margin: 1rem 0 1.5rem;
				}

				a {
					padding: 1rem 2rem;
					font-weight: 600;
				}
			}

			strong {
				display: block;
			}
		}

		figure::before {
			content: "";
			position: absolute;
			top: 0;
			height: 100%;
			width: 0;
			background: linear-gradient(270deg, $primary-color, $secondary-color);
			transform: translateX(1%);
			transition: all 0.5s ease;
			opacity: 0;
		}

		figure:hover figcaption {
			transform: translateX(0);
			opacity: 1;
			transition: 0.5s ease-out;
		}

		figure:hover::before {
			transform: translateY(0);
			transition: all 0.3s ease-in;
			opacity: 0.7;
			width: 100%;
		}
		figure:hover strong {
			opacity: 1;
			transition: 0.5s ease-out;
			transform: translateY(0);
		}

		strong {
			position: absolute;
			right: 0;
			top: -12%;
			font-size: 7rem;
			opacity: 0;
			transform: translateY(30%);
		}
	}
}
